body {
  padding-top: 50px;
  background: url('../assets/img/bg.png');
}
footer.signature {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
  body {
    background: url('../assets/img/bg_@2x.png');
  }
}
