<div class="jumbotron">
  <div class="container">
    <h1>Hello World!</h1>
  </div>
</div>

<div class="container">
  <div class="row login-form active">
    <div class="col-md-6 col-md-offset-3">
      <form role="form" class="form-horizontal">
        {{#each login-form}}
          {{> form-group}}
        {{/each}}
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <a href="#" class="btn btn-primary btn-login">Login</a> <a href="register.html" class="btn btn-default">Register</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row user-stats">
    
  </div>
</div>