<footer class="well signature">
  <h6>&copy;2013 SFEI Systems Inc.; All Rights Reserved.</h6>
  <h6>Designed and Developed by <a href="http://isn.sfeisystems.net">SFEI Systems Inc.</a></h6>
  <p>
  	<a href="https://www.ingress.com" class="btn btn-primary">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAqCAYAAADS4VmSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAg5JREFUeNrsV4txwjAMJVwGyAgZIZ2gzgRNJ6iZgHYC6AS0E4ROQDsBMEHYADaADVzpkDmdL/41Ib1reXc6t7YsvciSbEajG/47EnNCKSVheArY+5UkyRvteYbhIWDPB+xZ8olxi1IOIkAyh6EdOgfHGQoR2Tn0M7KZeymCwbk6Q3j0CpAjSeHRFWRzbq6lno2u4xDsqxvQ3djCDnKw+Ug9AdHHYcMLjWuH3rYLAY0lfQnHAqTWOcHIaGDkpM9wKAFMtI1xPCUMe/r3DtZPxvo0xPDYs65DV4HBNWb8pX7PDpFEyZ1TZeCRVIaNMJhVAGNFma5oFJ5s57pVpyqgL/2EjXjGKxAsN4zEK537PUs0XJuxnHiEvYfo1ujqAzBXKz/qmD4wjurbSTKBAeXUsoxzE9IJRhobIezl8CX455TCrkP+bvb5PqrAVR289++is70jAWE0GenpmP0SgFDPqQdolDQ3WAR6w41AGticCrr9gu74a/SBzMjy7dAEOEpynv8WgRmLSv+g6xfR6PufXSY2uK7ojGwpfT2HkJC0Ya9fvJ6bUDheznvSkbGRkOxhoUks2FzjIsCe7fHOjeM4GiQkPc+EjYDxm6HqmhPcmH6m5TYC7Fnm/cHyExKXcNKcRmE7tj6ro42EYFG5nnNLScmWhG34030IEjUrz+s7t5AY1rlBYkUyrPMb/hS+BRgA20DAoY5EVnUAAAAASUVORK5CYII=" style="width:16px;height:21px">
	Join the Resistance!</a></p>
</footer>